<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd 
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <!-- Configuration Db配置 -->
    <bean id="sysConf" class="org.apache.commons.configuration2.DatabaseConfiguration">
        <property name="dataSource" ref="dataSource"/>
        <property name="table" value="t_prop_conf"/>
        <property name="keyColumn" value="keyName"/>
        <property name="valueColumn" value="valueName"/>
        <property name="listDelimiterHandler">
            <bean class="org.apache.commons.configuration2.convert.DefaultListDelimiterHandler">
                <constructor-arg type="char" value=","/>
            </bean>
        </property>
    </bean>

</beans>